.product-card:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
.product-card {
  background-color: rgba(0, 0, 0, 0.05);
}
/* .product-card::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */
.product-card:hover .wishlist-btn,
.product-card:hover .cart-btn {
  @apply opacity-100;
}
.product-card:hover .product-name {
  @apply text-primary;
}

.product-card:hover .img-below {
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  /* opacity: 0; */
}
.product-card:hover .img-above {
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  /* opacity: 1 !important; */
}
