.wrapper {
  max-width: 650px;
}
.wrapper :global .slick-prev,
.wrapper :global .slick-next {
  @apply block absolute cursor-pointer w-10 h-10 p-0 z-10 top-[50%] text-primary  translate-y-[-50%];
}

.wrapper :global .slick-prev {
  left: 0;
}
.wrapper :global .slick-next {
  right: 0;
}

@media (max-width: 1279px) {
  .wrapper :global .slick-prev,
  .wrapper :global .slick-next {
    @apply overflow-hidden;
  }
}

@media (min-width: 768px) {
  .wrapper :global .slick-prev {
    left: -35px;
  }
  .wrapper :global .slick-next {
    right: -35px;
  }
}
/* end */

.wrapper :global .slick-slider {
  @apply relative block box-border;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.wrapper :global .slick-list {
  @apply relative block overflow-hidden m-0 p-0;
}
.wrapper :global .slick-list:focus {
  outline: none;
}
.wrapper :global .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.wrapper :global(.slick-slider .slick-track),
.wrapper :global(.slick-slider .slick-list) {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wrapper :global(.slick-track) {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.wrapper :global(.slick-track:before),
.wrapper :global(.slick-track:after) {
  display: table;
  content: '';
}
.wrapper :global .slick-track:after {
  clear: both;
}
.wrapper :global(.slick-loading .slick-track) {
  visibility: hidden;
}

[dir='rtl'] .wrapper :global .slick-slide {
  float: right;
}
.wrapper :global .slick-slide.slick-loading img {
  display: none;
}
.wrapper :global .slick-slide.dragging img {
  pointer-events: none;
}
.wrapper :global .slick-initialized .slick-slide {
  display: block;
}
.wrapper :global .slick-loading .slick-slide {
  visibility: hidden;
}
.wrapper :global .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.wrapper :global .slick-arrow.slick-hidden {
  display: none;
}
.wrapper :global .slick-dots {
  display: flex;
}

.wrapper :global .slide-one {
  @apply mb-6;
}
.wrapper :global .slick-slide {
  display: none;
  float: left;
  height: 100%;
}

.wrapper :global .slide-one .slick-slide {
  max-height: 450px;
}
.wrapper :global .slide-two .slick-slide {
  max-height: 130px;
  width: 100%;
}
.wrapper :global .slide-two .slick-slide > div {
  margin: 0 0.2rem;
  cursor: pointer;
}
.wrapper :global .slide-modal .slick-slide {
  min-height: 250px;
  min-width: 250px;
}
.wrapper :global .slick-slide img {
  @apply block w-full h-full object-contain object-center;
}

